@model IEnumerable<Dealership.Entities.Models.Car>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">

    <tbody>

        @foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ModelName) @Html.DisplayFor(modelItem => item.Generation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Engine.EngineType) @Html.DisplayFor(modelItem => item.Engine.Displacement)  @Html.DisplayFor(modelItem => item.Engine.Horsepower)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
}
    </tbody>

</table>
